section.brands.py-md-3.py-lg-5.offset-section--start.offset-section--end
  .container-md
    .brands__list.d-flex.justify-content-around
      button.px-2.px-sm-3.brands__item.d-block.svg-hightlight
        +icon('brands-icon-bitbucket')
      button.px-2.px-sm-3.brands__item.d-block.svg-hightlight
        +icon('brands-icon-apple-watch')
      button.px-2.px-sm-3.brands__item.d-block.svg-hightlight
        +icon('brands-icon-facebook')
      button.px-2.px-sm-3.brands__item.d-block.svg-hightlight
        +icon('brands-icon-atlassian')
      button.px-2.px-sm-3.brands__item.d-block.svg-hightlight
        +icon('brands-icon-audi')
